body {
    background-color: darkcyan;
    margin: 0;
    user-select: none;
}
main {
    display: grid;
    grid-template-columns: 300px 10px auto 10px 300px;
    height: 100vh;
}
.division {
    height: 100dvh;
    width: 10px;
    background-color: #895129;
}
aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
aside img:hover{
    cursor: pointer;
    scale: 1.05;
    
}

aside > .cookiesDisplay {
    top: 50px;
    position: absolute;
}
.mainContent {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainContent > .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}
.store{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    height: 100dvh;
    padding: 5px;
    max-width: 500px;
}
.tittle{
    grid-area: 1 / 1 / 2 / 2;
    justify-content: center;
    align-items: center;
    display: flex;
}
.upgrades{
    grid-area: 2 / 1 / 5 / 2;
}
.storeItem{
    grid-area: 5 / 1 / 11 / 2;
    background-color: #895129;
    border-radius: 10px;
    border: 2px solid #4e2d15;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 10px;
}
.storeItem:hover{
    cursor: pointer;
    scale: 1.05;
}
.itemInfo{
    display: flex;
    flex-direction: row;
}